<div class="container">
  <div class="row">
    <!-- <app-dialog [(visible)]="showDialog">      
            <div class="card mt-5">
              <div class="card-body">
                <div class="col-md-12">
                    <form class="form-horizontal" [formGroup]="form" novalidate (ngSubmit)="onSubmitUpdate();showDialog = !showDialog" >
                       <input type="hidden" formControlName="$key" class="form-control form-control-sm">
                        <input type="hidden" formControlName="totalPrice">
                        <div class="row">
                    
                          <div class="col">
                            <div class="card border-info mb-3" style="max-width: 100%; ">
                              <div class="card-header">
                                <i class="fas fa-users text-success"></i> Customer                          
                              </div>
                              <div class="card-body text-info">
                                <div class="form-row">
                                  <div class="col-md-4">
                                    <select class="form-control" formControlName="customer" [compareWith]="compareFn" >
                                      <option [ngValue]="item" *ngFor="let item of customerList" >{{item.name}} {{item.lastname}}</option>                                   
                                  </select>
                                  </div>                           
                                </div>              
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-sm-6">
                            <div class="card border-warning " style="max-width: 100%;">
                              <div class="card-header">
                                <i class="fas fa-shopping-cart text-success"></i> Products & Services                          
                              </div>
                    
                              <div class="card-body text-default ">
                                <div class="row">
                                  <a class="d-flex justify-content-md-center align-items-center col-8" style="cursor: pointer;"
                                    *ngFor='let product of productList' (click)="addPurchase(product)">
                                    <div class="col-sm-1"><i class="fas fa-plus-circle text-info"></i></div>
                                    <div class="col-sm-9"><span> {{product.name}}</span></div>
                                    <div class="col-sm-2"><span
                                        class="badge badge-primary badge-outlined col-2">{{money(product.price)}}</span></div>
                                    <hr style="border-width: 1px 0; color: black">
                                  </a>
                                </div>
                              </div>
                    
                            </div>
                          </div>
                    
                          <div class="col-sm-6" >
                            <div class="card border-success " style="max-width: 100%;">
                              <div class="card-header text-primary">
                                <div class="row">
                                  <div class="col-sm">
                                    <span class="float-left"><i class="fas fa-file-invoice-dollar text-success "></i>
                                      <strong>Total Price
                                        {{money(form.get('totalPrice').value)}}</strong>
                                      </span>
                                    </div>
                                  <div class="btn-group">
                                    <div class="col-sm"><button type="button" (click)="resetPurchase()" class="btn btn-warning"
                                        style="padding-right: 10px">Reset</button></div>
                                    <div class="col-sm"> <button type="submit" class="btn btn-success float-right">Update</button></div>
                                  </div>
                                </div>
                              </div>
                              <div class="card-body text-info">
                                <a class="list-group-item list-group-item-action flex-column align-items-start"
                                  *ngFor="let purchase of form.controls.items.controls; let i=index" formArrayName="items">
                                  <div [formGroupName]="i">
                                    <div class="d-flex w-100 justify-content-between">
                                      <small>
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"
                                          (click)="removePurchase(i)">
                                          <span aria-hidden="true" class="text-danger">×</span>
                                        </button>
                                      </small> &nbsp;
                                      <h5 class="mb-1">{{purchase.get('product').value.name}}</h5>
                                      <small class="text-warning">Price: {{money(purchase.get('product').value.price)}}</small>
                                    </div>
                                    <p class="mb-1">
                                      <input type="number" formControlName="quantity" class="form-control form-control-sm">
                                    </p>
                                    <small>
                                      <input type="hidden" formControlName="amount" class="form-control form-control-sm"> Sub-Total
                                      {{money(purchase.get('amount').value)}}
                                    </small>
                                  </div>
                                </a>
                              </div>
                              <div class="card-header text-primary">
                                <strong><i class="fas fa-file-invoice-dollar text-success"></i> Total Price
                                  {{money(form.get('totalPrice').value)}}</strong>
                              </div>
                            </div>
                          </div>
                        </div>
                      </form>
                </div>
              </div>
            </div>
          </app-dialog> -->
    <div class="col-md-12 text-center">
      <div class="card mt-5">
        <div class="card-body">
          <!-- <app-dialog [(visible)]="showDialog1">
                    <div class="card mt-5">
                      <div class="card-body">
                        <div class="col-md-12">
                          <app-invoice></app-invoice>
                        </div>
                      </div>
                    </div>
                  </app-dialog> -->

          <section class="search-sec">
            <div class="container">
              <form [formGroup]="searchForm" (ngSubmit)="filter(1)">
                <div class="row">
                  <div class="col-lg-12">
                    <div class="row">
                      <div class="col-lg-2 col-md-2 col-sm-12 p-0">
                        <mat-form-field
                          class="example-full-width"
                          appearance="outline"
                        >
                          <mat-label>رقم الفاتورة</mat-label>
                          <input
                            type="text"
                            matInput
                            formControlName="id"
                            placeholder="بحث برقم الفاتورة"
                          />
                        </mat-form-field>
                      </div>
                      <div class="col-lg-2 col-md-2 col-sm-12 p-0">
                        <mat-form-field appearance="outline">
                          <mat-label>بحث بالعميل</mat-label>
                          <mat-select
                            formControlName="customer"
                            name="customer"
                          >
                            <mat-option [value]="null">إختر</mat-option>
                            <mat-option
                              *ngFor="let item of customerList"
                              [value]="item"
                            >
                              {{ item.name }} {{ item.lastname }}
                            </mat-option>
                          </mat-select>
                        </mat-form-field>
                      </div>
                      <div class="col-lg-2 col-md-2 col-sm-12 p-0">
                        <mat-form-field
                          class="example-full-width"
                          appearance="outline"
                        >
                          <mat-label>المحافظة</mat-label>
                          <input
                            type="text"
                            matInput
                            formControlName="state"
                            placeholder="بحث بالمحافظة"
                          />
                        </mat-form-field>
                      </div>

                      <div class="col-lg-3 col-md-3 col-sm-12 p-0">
                        <mat-form-field appearance="outline">
                          <mat-label>بحث بالحالة</mat-label>
                          <mat-select formControlName="status" name="status">
                            <mat-option [value]="null">إختر</mat-option>
                            <mat-option
                              *ngFor="let invStatus of statusTypes"
                              [value]="invStatus?.key"
                            >
                              {{ invStatus?.value }}
                            </mat-option>
                          </mat-select>
                        </mat-form-field>
                      </div>

                      <div class="col-lg-3 col-md-3 col-sm-12 p-0">
                        <mat-form-field appearance="outline">
                          <mat-label>التاريخ بين</mat-label>
                          <mat-date-range-input [rangePicker]="picker">
                            <input
                              matStartDate
                              formControlName="fromDate"
                              placeholder="من"
                            />
                            <input
                              matEndDate
                              formControlName="toDate"
                              placeholder="إلى"
                            />
                          </mat-date-range-input>
                          <mat-datepicker-toggle
                            matSuffix
                            [for]="picker"
                          ></mat-datepicker-toggle>
                          <mat-date-range-picker
                            #picker
                          ></mat-date-range-picker>

                          <mat-error
                            *ngIf="
                              searchForm.controls.fromDate.hasError(
                                'matStartDateInvalid'
                              )
                            "
                            >Invalid start date</mat-error
                          >
                          <mat-error
                            *ngIf="
                              searchForm.controls.toDate.hasError(
                                'matEndDateInvalid'
                              )
                            "
                            >Invalid end date</mat-error
                          >
                        </mat-form-field>
                      </div>
                    </div>

                    <div class="row">
                      <div class="text-right">
                        <button
                          mat-raised-button
                          color="dam-success"
                          type="submit"
                          class="btn-sm"
                        >
                          بحث
                        </button>

                        <button
                          mat-raised-button
                          color="dam-warn"
                          class="btn-sm mr-2"
                          (click)="resetSearchForm()"
                        >
                          مسح
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </section>

          <div class="row">
            <div class="table-responsive">
              <alert [id]="alert.id"></alert>
              <app-section-loading [isLoading]="loading"></app-section-loading>
              <table class="table table-hover table-bordered">
                <thead class="bg-teal">
                  <tr>
                    <th scope="col">العميل</th>
                    <th scope="col">إجمالى الفاتورة</th>
                    <th scope="col">رفم الفاتورة</th>
                    <th scope="col">الحالة</th>
                    <th scope="col">التاريخ</th>
                    <th scope="col">المنتجات</th>
                    <th scope="col">العمليات</th>
                  </tr>
                </thead>
                <tbody>
                  <ng-container
                    *ngFor="
                      let invoice of invoiceList | paginate: page;
                      let i = index
                    "
                  >
                    <tr *ngIf="filterCondition(invoice)">
                      <td>
                        {{ invoice.customer.name }}
                        {{ invoice.customer.lastname }}
                      </td>
                      <td>
                        {{ invoice.totalPrice | currency: "USD":"symbol" }}
                      </td>
                      <td>{{ invoice?.id }}</td>
                      <td>
                        <mat-form-field
                          appearance="outline"
                          style="width: 80px; font-size: 12px"
                        >
                          <mat-select
                            *ngIf="invoice?.status"
                            [(ngModel)]="invoice.status"
                            (selectionChange)="
                              updateStatus(invoice.status, invoice.id)
                            "
                          >
                            <mat-option
                              *ngFor="let invStatus of statusTypes"
                              [value]="invStatus?.key"
                            >
                              {{ invStatus?.value }}
                            </mat-option>
                          </mat-select>
                        </mat-form-field>

                        <!-- <select
                          *ngIf="invoice?.status"
                          class="form-control custom-select"
                          [(ngModel)]="invoice.status"
                          (change)="updateStatus(invoice.status, invoice.id)"
                        >
                          <option
                            *ngFor="let invStatus of statusTypes"
                            [value]="invStatus?.key"
                          >
                            {{ invStatus?.value }}
                          </option>
                        </select> -->
                      </td>
                      <td>{{ invoice?.createdAt | date: "dd/MM/yyyy" }}</td>
                      <td>
                        <li
                          class="list-group-item"
                          *ngFor="let purchase of invoice.items"
                        >
                          {{ purchase?.product?.name }} -
                          {{ purchase?.quantity }}
                        </li>
                      </td>
                      <td class="btn-group m-1">
                        <a
                          mat-raised-button
                          color="dam-success"
                          class="btn-sm icon-btn-sm mr-2"
                          (click)="print(invoice); showDialog = !showDialog"
                        >
                          <i class="material-icons md-18">print</i></a
                        >
                        <!-- <a class="btn-sm icon-btn-sm btn-primary text-white" (click)="onUpdate(invoice);showDialog = !showDialog">
                                <i class="material-icons md-18">mode_edit_outline</i></a>             -->
                        <a
                          mat-raised-button
                          color="warn"
                          class="btn-sm icon-btn-sm mr-2"
                          (click)="onDelete(invoice, i)"
                        >
                          <i class="material-icons md-18">delete_outline</i>
                        </a>
                      </td>
                    </tr>
                  </ng-container>
                </tbody>
              </table>
            </div>
          </div>
          <div class="row">
            <pagination-controls
              *ngIf="invoiceList?.length > 0"
              (pageChange)="getPage($event)"
              id="{{ page.id }}"
            ></pagination-controls>
          </div>

          <!-- <div class="alert alert-danger" *ngIf="showDeletedMessage">
              Deleted successfully.
            </div> -->
        </div>
      </div>
    </div>
  </div>
</div>
