<div class="modal-header text-right">
  <h4 class="modal-title w-100">هل أنت متأكد ؟</h4>
</div>
<div class="modal-body text-right">
  <p>هل أنت متأكد , لا يمكن التراجع عن هذة العملية</p>
</div>
<div class="modal-footer justify-content-center">
  <button
    type="button"
    mat-raised-button
    color="dam-warn"
    class="mr-2"
    data-dismiss="modal"
    (click)="activeModal.dismiss()"
  >
    إلغاء
  </button>
  <button
    type="button"
    mat-raised-button
    color="dam-success"
    class="mr-2"
    (click)="activeModal.close(true)"
  >
    تأكيد
  </button>
</div>
