<div class="modal-header">
  <div class="icon-box">
    <button
      type="button"
      class="close"
      data-dismiss="modal"
      aria-hidden="true"
      (click)="activeModal.dismiss()"
    >
      &times;
    </button>
  </div>
  <h4 class="modal-title w-100">Are you sure?</h4>
</div>
<div class="modal-body">

  <div id="viewer"></div>

  
</div>
<div class="modal-footer justify-content-center">
  <button
    type="button"
    class="btn btn-secondary"
    data-dismiss="modal"
    (click)="activeModal.dismiss()"
  >
    Cancel
  </button>
  <button
    type="button"
    class="btn btn-danger"
    (click)="activeModal.close(true)"
  >
    Delete
  </button>
</div>
