<div class="card mt-5">
  <app-section-loading [isLoading]="loading"></app-section-loading>
  <div class="card-body p-4">
    <h6 class="text-center">قائمة العملاء</h6>
    <alert [id]="alert.id"></alert>
    <div class="table-responsive">
      <table class="table table-sm table-hover">
        <thead>
          <tr>
            <th scope="col">الإسم</th>
            <th scope="col">المحافظة</th>
            <th scope="col">التليفون</th>
            <th scope="col">العنوان</th>
            <th scope="col">العمليات</th>
          </tr>
        </thead>
        <tbody>
          <tr
            *ngFor="
              let customer of customerList | paginate: page;
              let i = index
            "
          >
            <td>{{ customer.name }}</td>
            <td>{{ customer.state }}</td>
            <td>{{ customer.phone }}</td>
            <td>{{ customer.address }}</td>
            <td>
              <a
                mat-raised-button
                color="dam-success"
                class="btn-sm icon-btn-sm mr-2"
                (click)="onEdit(customer, i)"
              >
                <i class="material-icons md-18">mode_edit_outline</i>
              </a>
              <a
                mat-raised-button
                color="warn"
                class="btn-sm icon-btn-sm mr-2"
                (click)="onDelete(customer, i)"
              >
                <i class="material-icons md-18">delete_outline</i>
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <pagination-controls
      *ngIf="customerList?.length > 0"
      (pageChange)="getPage($event)"
      id="{{ page.id }}"
    ></pagination-controls>
  </div>
</div>
