<div class="card mt-5">
  <app-section-loading [isLoading]="loading"></app-section-loading>
  <div class="card-body">
    <h6 class="text-center">إضافة أو تحديث عميل</h6>

    <form #customerForm="ngForm" (ngSubmit)="onSubmit(customerForm)">
      <alert [id]="alert.id"></alert>
      <input
        type="hidden"
        name="id"
        #id="ngModel"
        [(ngModel)]="customerService.selectedCustomer.id"
      />

      <div class="form-group">
        <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
          الإسم مطلوب
        </div>
        <input
          type="text"
          name="name"
          class="form-control"
          #name="ngModel"
          [(ngModel)]="customerService.selectedCustomer.name"
          placeholder="إضافة أسم عميل"
          minlength="3"
          pattern="[0-9a-zA-Z\s\u0600-\u06FF]*"
          required
        />
      </div>

      <div class="form-group">
        <div
          [hidden]="state.valid || state.pristine"
          class="alert alert-danger"
        >
          المحافظة مطلوبة
        </div>
        <input
          type="text"
          name="state"
          class="form-control"
          #state="ngModel"
          [(ngModel)]="customerService.selectedCustomer.state"
          placeholder="إضافة محافظة"
          minlength="2"
          pattern="[0-9a-zA-Z\s\u0600-\u06FF]*"
          required
        />
      </div>

      <div class="form-group">
        <div
          [hidden]="email.valid || email.pristine"
          class="alert alert-danger"
        >
          البريد مطلوب
        </div>
        <input
          type="text"
          name="email"
          class="form-control"
          #email="ngModel"
          [(ngModel)]="customerService.selectedCustomer.email"
          placeholder="إضافة بريد إلكترونى"
          minlength="2"
          pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
        />
      </div>

      <div class="form-group">
        <div
          [hidden]="phone.valid || phone.pristine"
          class="alert alert-danger"
        >
          التليفون مطلوب
        </div>
        <input
          type="text"
          name="phone"
          class="form-control"
          (keypress)="keyPress($event)"
          minlength="10"
          maxlength="10"
          #phone="ngModel"
          [(ngModel)]="customerService.selectedCustomer.phone"
          placeholder="إضافة تليفون"
          required
        />
      </div>

      <div class="form-group">
        <div
          [hidden]="address.valid || address.pristine"
          class="alert alert-danger"
        >
          العنوان مطلوب
        </div>
        <textarea
          name="address"
          class="form-control"
          #address="ngModel"
          [(ngModel)]="customerService.selectedCustomer.address"
          placeholder="إضافة عنوان"
          required
        ></textarea>
      </div>

      <div class="text-center">
        <button
          mat-raised-button
          color="dam-success"
          [disabled]="customerForm.invalid"
          type="submit"
        >
          <i class="fas fa-plus-circle"></i>
          {{ this.customerService.valueBtn }} عميل
        </button>
        <button
          mat-raised-button
          color="dam-warn"
          type="reset"
          class="mr-2"
          (click)="resetForm(customerForm)"
        >
          <i class="fas fa-sync-alt"></i> مسح
        </button>
      </div>
    </form>
  </div>
</div>
