<div class="card mt-5">
    <div class="card-body">
      <h6 class="text-center">List of Products</h6>
      <alert [id]="alert.id"></alert>

      <app-section-loading [isLoading]="loading"></app-section-loading>
      <table class="table table-sm table-hover">
        <tbody>
          <tr *ngFor="let product of productList | paginate: page;let i=index">
            <td>{{product.name}}</td>
            <td>{{product.price | currency:'USD':'symbol'}}</td> 
            <td>
              <a  class="btn btn-secondary text-white" (click)="onEdit(product,i)">
                <i class="material-icons md-18">mode_edit_outline</i>
              </a>
          </td>
          <td>
              <a class="btn btn-danger text-white" (click)="onDelete(product,i)">
                <i class="material-icons md-18">delete_outline</i>
              
              </a>
          </td>
  
          </tr>
        </tbody>
      </table>
      <pagination-controls *ngIf="productList?.length>0"
        (pageChange)="getPage($event)"
        id="{{ page.id }}"
      ></pagination-controls>

    </div>
  </div>
