body,html{
	margin: 0px;
	padding: 0px;
	font-size: 20px;
	font-family: 'Cairo', sans-serif;
    direction: rtl;
}
p, a, .h2, .h4, .h5, .h6{
font-family: 'Cairo', sans-serif;
line-height: 1.9em;	
}
.h1{
	font-family: 'Cairo', sans-serif !important;
}
.h4{
	font-family: 'Cairo', sans-serif !important;
}
.h5{
	font-family: 'Cairo', sans-serif !important;
}
.h6{
	font-family: 'Cairo', sans-serif !important;
	font-size: 12px !important;
}
.pr2{
	font-size: 12px;
}
.pr{
	font-size: 15px !important;
	line-height: 1.8em !important;
}
.pr1{
	font-size: 17px  !important;
	line-height: 1.7em !important;
	font-family: 'Cairo', sans-serif !important;
	line-height: 2em !important;
}
.pr3{
	font-size: 20px  !important;
	line-height: 1.7em !important;
	font-family: 'Cairo', sans-serif !important;
	line-height: 2em !important;
	margin-bottom: 2em !important;
}
.row{
	font-family: 'Cairo', sans-serif;
}

.container{
	width: 95%;
	margin: auto;
}
/*navbar*/
.navbar .bg-primary {
    background-color: #32234b !important;
}
.navbar-dark .navbar-brand{
	font-family: 'Lalezar', cursive;
	font-size: 35px ;

}
.card{
	border:none !important;
}
.display-4{
	font-family: 'Lalezar', cursive;

}
.form-inline{
	margin-right: 5em;
}

.form-control .btn{
    color: #f5f5f5;
   
    background-image: none;
    border-color: #28a745;
}
.first-row{
	margin-top: 10em;
}
.hr{
	border-top: 1px solid rgb(178, 211, 246);
}
.dropdown-item:hover{
	background-color: #32234b !important;
	
	color: #fff !important;
}
.navbar-dark .navbar-nav .nav-link {
    color: #fff !important;
}


/*end navbar*/

/*jubotron*/
.jumbotron {
    
    background-color: #e8f3ec !important;
    
}
.list-unstyled{
	display: inline-flex;
}
.list-unstyled li{
	margin-right: 2.5em;
}
.fa, .fas {
    
    font-size: 2em;
}
/*end jubotron*/

/*********footer*******************/
footer{
	background-color:#fff;
    padding: 60px 0px;
}

footer ul{
    list-style:none;
    margin:0 auto;
    display:inline-block;
    padding-top:50px;
}

footer ul li{
    float:left;
}



footer ul li a:hover{
	color:#7dabdb;
	text-decoration:none;
}



.footer-top .fa{
    font-size:18px;
    color: #FFF;
    padding-right:10px;
}

.footer-top a{
    color:#FFF;
    text-decoration:none;
}

.footer-top .col-lg-2:hover .fa , .footer-top .col-lg-2:hover a{
    color:#7dabdb;
}

.copyright{
    background-color:#f0f0f0;
}

.copyright p{
	font-size:12px;
	padding:15px 0 10px 0;
}

footer ul li a {
    color: #545453;
    padding: 20px;
}
.div{
	float: left;
}





/* end footer */


/*login*/
 .main {
    max-width: 320px;
    margin: 0 auto;
  }
  .login-or {
    position: relative;
    font-size: 18px;
    color: #aaa;
    margin-top: 10px;
            margin-bottom: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .span-or {
    display: block;
    position: absolute;
    left: 50%;
    top: -2px;
    margin-left: -25px;
    background-color: #fff;
    width: 50px;
    text-align: center;
  }
  .hr-or {
    background-color: #cdcdcd;
    height: 1px;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
  }
  h3 {
    text-align: center;
    line-height: 300%;
  }
  .rows{
  	margin-top: 10em;
  }
  .btn-primary {
   
    float: left !important;
}
h3, .h3 {
    font-size: 1.2rem !important;
}
/* end login*/

/*nav*/
nav{
	margin-top: 5em;
}

.imgg{
	max-height: 50px !important;
min-height: 50px !important;
max-width: 57px !important;
}
/*list groupe*/
.list-group-item {
	border:none !important;
}
.list-group-item:hover{
	background-color: #eee !important;
	transform: scale(1) rotate(2deg) ;
	

}
/*end list groupe*/

/* end nav*/

