<header class="py-3">
  <div class="container">
    <div class="row justify-content-center align-items-center">
      <div class="col-xl-5 col-md-6 text-center text-md-left">
        <a class="navbar-brand" href="#">
          <img
            src="./assets/images/alinma-investment-logo.svg"
            height="40"
            class="d-inline-block align-top"
            alt=""
            loading="lazy"
          />
        </a>
      </div>

      <div class="col-xl-5 col-md-6 text-center text-md-right mt-3 mt-md-0">
        <a
          class="btn btn-sm w-auto btn-outline-black px-2"
          style="cursor: pointer"
          (click)="switchLang()"
        >
          <span class="material-icons">public</span>

          {{
            (selectedLang === "en"
              ? "navbar.language.arabic"
              : "navbar.language.english"
            ) | translate
          }}
        </a>
      </div>
    </div>
  </div>
</header>

<main>
  <div class="container my-0 my-md-5">
    <div class="row no-gutters justify-content-center">
      <div class="col-xl-5 col-md-6">
        <div
          class="bg-white h-100 p-3 rounded-left shadow-sm d-flex align-items-center"
        >
          <div>
            <h3 class="section-title text-center mt-3 mb-4">
              {{ "intro" | translate }}
            </h3>

            <h4>
              <alert></alert>
            </h4>

            <form [formGroup]="authForm">
              <div class="form-row justify-content-center">
                <div class="form-group col-md-9 col-12">
                  <label for="loginInputEmail" class="font-weight-bold">{{
                    "form.label.email" | translate
                  }}</label>

                  <input
                    type="email"
                    formControlName="username"
                    class="form-control login-text-input form-control-sm"
                    id="loginInputEmail"
                  />
                </div>

                <div class="form-group col-md-9 col-12">
                  <label for="loginInputPassword" class="font-weight-bold">{{
                    "form.label.password" | translate
                  }}</label>

                  <input
                    type="password"
                    formControlName="password"
                    class="form-control login-password-input form-control-sm"
                    id="loginInputPassword"
                  />
                </div>

                <div class="form-group col-md-9 col-12">
                  <button
                    type="submit"
                    class="btn btn-green btn-block btn-sm"
                    (click)="submitForm()"
                    [disabled]="!authForm.valid || isSubmitting"
                  >
                    {{ "form.button.login" | translate }}

                    <span
                      *ngIf="isSubmitting"
                      class="spinner-border spinner-border-sm"
                    ></span>
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>

      <div class="col-xl-5 col-md-6 d-md-block d-none">
        <img
          src="./assets/images/login-image.jpg"
          class="w-100 rounded-right shadow-sm"
        />
      </div>
    </div>
  </div>
</main>
