<div class="card mt-5">
  <app-section-loading [isLoading]="loading"></app-section-loading>
  <div class="card-body">
    <h6 class="text-center">إضافة أو تحديث منتج</h6>
    <!-- <app-dialog [(visible)]="showDialog">           
            <div class="col-md-12">
              <app-category></app-category>               
        </div>
      </app-dialog> -->
    <form #productForm="ngForm" (ngSubmit)="onSubmit(productForm)">
      <alert [id]="alert.id"></alert>
      <input
        type="hidden"
        name="id"
        #id="ngModel"
        [(ngModel)]="productService.selectedProduct.id"
      />
      <div class="form-group">
        <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
          الإسم مطلوب
        </div>
        <input
          type="text"
          name="name"
          class="form-control"
          #name="ngModel"
          [(ngModel)]="productService.selectedProduct.name"
          placeholder="إضافة إسم المنتج"
          minlength="3"
          pattern="[0-9a-zA-Z\s\u0600-\u06FF]*"
          required
        />
      </div>

      <div class="form-group">
        <div
          [hidden]="location.valid || location.pristine"
          class="alert alert-danger"
        >
          عنوان المنتج/ المصنع مطلوب
        </div>
        <input
          type="text"
          name="location"
          class="form-control"
          #location="ngModel"
          [(ngModel)]="productService.selectedProduct.location"
          placeholder="إضافة عنوان المنتج /المصنع"
          minlength="3"
          pattern="[0-9a-zA-Z\s\u0600-\u06FF]*"
          required
        />
      </div>
      <div class="form-group">
        <div
          [hidden]="price.valid || price.pristine"
          class="alert alert-danger"
        >
          السعر مطلوب
        </div>
        <input
          type="number"
          name="price"
          class="form-control"
          #price="ngModel"
          [(ngModel)]="productService.selectedProduct.price"
          placeholder="إضافة سعر المنتج"
          required
          minlength="1"
        />
      </div>

      <div class="form-group">
        <div
          [hidden]="quantity.valid || quantity.pristine"
          class="alert alert-danger"
        >
          الكمية مطلوبة
        </div>
        <input
          type="number"
          name="quantity"
          class="form-control"
          #quantity="ngModel"
          [(ngModel)]="productService.selectedProduct.quantity"
          placeholder="إضاقة كمية"
          required
          minlength="1"
        />
      </div>

      <div *ngIf="this.productService.status === 2" class="form-group">
        <input
          type="number"
          name="availableQuantity"
          class="form-control"
          #availableQuantity="ngModel"
          [(ngModel)]="productService.selectedProduct.availableQuantity"
          placeholder="الكمية المتاحة"
          disabled
          minlength="1"
        />
      </div>

      <div class="form-group">
        <!-- <a
          class="badge badge-purple badge-outlined"
          (click)="showDialog = !showDialog"
          style="cursor: pointer"
          >Add New Category <i class="fas fa-plus-circle text-success"></i
        ></a> -->

        <div
          [hidden]="categoryId.valid || categoryId.pristine"
          class="alert alert-danger"
        >
          إختيار التصنيف مطلوب
        </div>
        <select
          class="form-control"
          name="categoryId"
          #categoryId="ngModel"
          [(ngModel)]="productService.selectedProduct.categoryId"
          required
        >
          <option disabled hidden [value]="selectUndefinedOptionValue">
            إختر
          </option>
          <option
            *ngFor="let catg of categoryList; let i = index"
            [ngValue]="catg.id"
          >
            {{ catg.name }}
          </option>
        </select>
      </div>

      <div class="form-group">
        <div [hidden]="code.valid || code.pristine" class="alert alert-danger">
          الباركود حقل مطلوب برموز صحيحة ولا يقل عن 5 حروف
        </div>
        <input
          type="text"
          name="code"
          class="form-control"
          #code="ngModel"
          [(ngModel)]="productService.selectedProduct.code"
          placeholder="الباركود الخاص بالمنتج"
          minlength="5"
          pattern="[0-9a-zA-Z\s\u0600-\u06FF]*"
          required
        />
      </div>

      <div class="text-center">
        <button
          [disabled]="productForm.invalid"
          mat-raised-button
          color="dam-success"
          type="submit"
          class="mr-2"
        >
          <i class="fas fa-plus-circle"></i>
          {{ this.productService.valueBtn }} المنتج
        </button>
        <button
          mat-raised-button
          color="dam-warn"
          type="reset"
          class="mr-2"
          (click)="resetForm(productForm)"
        >
          <i class="fas fa-sync-alt"></i> مسح
        </button>
      </div>
    </form>
  </div>
</div>
